/*-- scss:defaults --*/

$white:    #FAEBD7 !default;
/*-- $gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default; --*/
$black:    #213A1B !default;


$primary: #FAEBD7 !default;
$secondary:  #213A1B !default;

$navbar-bg: $primary;

$body-bg: #213A1B !default;
$body-color: #FAEBD7 !default;


$headings-font-family: Lydian !default;
$font-family-base: ETBembo !default;


/*-- scss:rules --*/
div.quarto-post .listing-categories .listing-category {
  color:#c56c39 !important;
  border:solid 1px #68838b;
  border-radius:.25rem;
  text-transform:uppercase;
  font-size:.65em;
  padding-left:.5em;
  padding-right:.5em;
  padding-top:.15em;
  padding-bottom:.15em;
  cursor:pointer;
  margin-right:4px;
  margin-bottom:4px
}

div.quarto-post {
  display: flex;
  gap: 2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #FAEBD7;
}

.reveal .slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(139, 69, 19)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>') !important;
}

/*--
h1 {
  color:  #8B4513 !important;
}



div.quarto-category {
  color:#c56c39;
} --*/