/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "IBM Plex Sans", sans-serif;

// colors
$body-color: #0f62fe;

//headings
$presentation-heading-font: "IBM Plex Sans";
$presentation-heading-color: #0f62fe;
$presentation-title-slide-text-align: left;
