/* css styles */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

h1, h2, h3 {
    font-family: "IBM Plex Sans" !important;
    border: 0px solid black !important;
}

body {
    font-family: "IBM Plex Sans" !important;
    font-size: 1em !important;
}

p {
    margin-bottom: 10px !important;
    font-family: "IBM Plex Sans" !important;
    font-size: 1em !important;
    text-align: left !important;
}
